# Git
*.orig

# CMake
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
CMakeCache.txt
Makefile
install_manifest.txt

# Jetbrains
cmake-build-debug/
.idea/
.externalNativeBuild/
*.cbp
*.iml

# Editors
.vscode/
*.swp
*~

# NFS
.nfs*

# Custom
build/
devel/
output/
nohup.out
/obu/vendor/
/obu/third_party/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.lib

# Executables
*.exe
*.out
*.app

# Mac
*.DS_Store

# Protobuf
*.pb.h
*.pb.cc
